:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #63D5DA;
  --green: #04AA6D;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.league-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

.league-table th {
  background-color: var(--blue);
  color: var(--white);
  margin-top: 10px;
}

.league-table th:hover {background-color: var(--pink);}

.league-table th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.league-table tr:nth-child(even) {
  background-color: #ddd;
}

.tablink {
  background-color: var(--green);
  color: var(--white);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 20%;
  height: 60px;
}
.tablink:hover {
  background-color: var(--pink);
}

.stat-area {
  display: inline-table;
  margin: 15px 0 0 10px;
  color: var(--green);
  width: 100%;
}

.search-bar-input {
  margin: 10px 0 0 10px;
  height: 30px;
}

.search-submit-btn {
  margin: 10px 0 0 10px;
  background-color: var(--blue);
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 70px;
}